/* Normal Ubuntu Fonts */

@font-face {
  font-family: "ubuntu";
  src: url("ubuntu-font-family/Ubuntu-R.ttf") format("truetype");
}

@font-face {
  font-family: "ubuntu-italic";
  src: url("ubuntu-font-family/Ubuntu-RI.ttf") format("truetype");
}

@font-face {
  font-family: "ubuntu-bold";
  src: url("ubuntu-font-family/Ubuntu-B.ttf") format("truetype");
}

@font-face {
  font-family: "ubuntu-bold-italic";
  src: url("ubuntu-font-family/Ubuntu-BI.ttf") format("truetype");
}

/* Other Ubuntu Fonts */

@font-face {
  font-family: "ubuntu-condensed";
  src: url("ubuntu-font-family/Ubuntu-C.ttf") format("truetype");
}

@font-face {
  font-family: "ubuntu-light";
  src: url("ubuntu-font-family/Ubuntu-L.ttf") format("truetype");
}

@font-face {
  font-family: "ubuntu-light-italic";
  src: url("ubuntu-font-family/Ubuntu-LI.ttf") format("truetype");
}

@font-face {
  font-family: "ubuntu-medium";
  src: url("ubuntu-font-family/Ubuntu-M.ttf") format("truetype");
}

@font-face {
  font-family: "ubuntu-medium-italic";
  src: url("ubuntu-font-family/Ubuntu-MI.ttf") format("truetype");
}

@font-face {
  font-family: "ubuntu-thin";
  src: url("ubuntu-font-family/Ubuntu-Th.ttf") format("truetype");
}

/* Ubuntu Mono Fonts */

@font-face {
  font-family: "ubuntu-mono";
  src: url("ubuntu-font-family/UbuntuMono-R.ttf") format("truetype");
}

@font-face {
  font-family: "ubuntu-mono-italic";
  src: url("ubuntu-font-family/UbuntuMono-RI.ttf") format("truetype");
}

@font-face {
  font-family: "ubuntu-mono-bold";
  src: url("ubuntu-font-family/UbuntuMono-B.ttf") format("truetype");
}

@font-face {
  font-family: "ubuntu-mono-bold-italic";
  src: url("ubuntu-font-family/UbuntuMono-BI.ttf") format("truetype");
}
